<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>


    <div class="container">

        <%- include('../_header') %>

        <h1 class="main_title"><%= game.name %></h1>
        <div class="play_container">
            <input type="hidden" id="word_id" value="<%= word.word._id %>">
            <input type="hidden" id="game_id" value="<%= game.id %>">   
            <label for="answer_input" id="answer_label"><%= word.word.langOne %></label>
            <div class="answer_container">
                <input type="text" class="" name="answer_input" value="" id="answer_input" select>
                <button type="button" class="basic_btn" id="next_btn">next</button>
            </div>
            <div id="cheat_div"></div>
        </div>
        <%- include('../_footer') %>
    </div>


    <script src="/JS/GameController.js"></script>
</body>
</html>